



#navbar{
    width:90%;
    height:100px;
    display:flex;
    justify-content:end;
    gap:40px;
    font-size:larger;
    font-weight:700px ;
}
#menu{
    width:90%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 20px;
    margin: auto;
    text-align: center;
}
img{
    width: 200px;
    height: 150px;
}
.coffee{
    border:1px solid red
}